* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    position: relative;
    display: flex;
    height: 100%;
    background: url(https://www.usnews.com/object/image/0000017e-f8c3-da45-a97f-fcd3abb60000/1-intro-stock.jpg) center / cover no-repeat fixed;
}

.app {
    display: flex;
    width: 100%;
    height: 900px;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
}

.aler {
    position: absolute;
    width: 100%;
    height: 60px;
    background: rgb(86, 96, 161);
    box-shadow: 0 0 30px rgb(74, 70, 70);
    align-items: center;
    border: none;
    outline: none;
    font-size: 1em;
    color: rgb(64, 217, 125);
    display: none;
}

.aler.active {
    display: block;
}


/*Nav bar */

.nav {
    display: flex;
    flex-direction: column;
    width: 300px;
    min-height: 100vh;
    top: 0;
    left: 0;
    background: rgb(86, 96, 161);
    box-shadow: 0 0 30px rgb(74, 70, 70);
}

.nav a{
    text-decoration: none;
}

.nav li {
    list-style: none;
}

.nav_posts {
    position: relative;
    padding: 20px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 800;
}

.nav_posts:hover .open_categories{
    display: block;
}

.nav_chats {
    position: relative;
    height: 90%;
    padding: 20px 18px;
    text-decoration: none;
    color: #eeeeee;
    font-weight: 800;
    overflow: scroll;
}

.nav_logout {
    position: relative;
    padding: 20px 18px;
    text-decoration: none;
    color: rgb(64, 217, 125);
    background-color: rgb(55, 39, 100);
    font-weight: 800;
    height: 60px;
}

.nav_posts:hover {
    background: rgba(255, 255, 255, 0.05);
}

.nav_chats:hover {
    background: rgba(255, 255, 255, 0.05);
}

.nav_logout:hover {
    background: rgb(64, 217, 125);
    color: rgb(55, 39, 100);
}

/*Select category */

.open_categories {
    position: relative;
    display: none;
    margin: 10px 0px 0px 10px;
}

.open_categories li {
    background-color: rgb(118, 101, 166);
    padding: 20px;
    border-bottom: 2px solid rgb(96, 205, 140);
}

.open_my_post {
  margin-top: 10px;
}

.open_my_post li {
    background-color: rgb(96, 205, 140);
    padding: 20px;
    border-bottom: 3px solid rgb(118, 101, 166);
}


.open_categories li:hover{
    background-color:  rgb(96, 205, 140);
}

.open_my_post li:hover{
    background-color:  rgb(118, 101, 166);
}


.select_category {
    height: 20px;
    color:  rgb(63, 50, 98);
    font-weight: 600;
}



/*Chat list */
.activ_user {
    margin-top: 4px;
    background: rgb(96, 205, 140);
    border-radius: 5px;
    padding: 20px 18px;
    color: #5f5e5e;
    font-weight: 600;
}

.activ_user:hover {
    background: rgb(64, 217, 125);
    color: rgb(249, 248, 251);
}

.unactiv_user {
    background:rgb(118, 101, 166);
    border-radius: 5px;
    margin-top: 4px;
    padding: 20px 18px;
    color: #acaaaa;
    font-weight: 600;
}

.unactiv_user:hover {
    background: rgb(118, 101, 166);
    color: rgb(249, 248, 251);
}

/*New post */
.wrapper_new_post {
    position: absolute;
    display: block;
    width: 40%;
    min-width: 450px;
    height:  750px;
    top: 50%;
    background: rgba(128, 116, 135, 0.7);
    border: 2px solid rgb(142, 131, 131);
    border-radius: 20px;
    box-shadow: 0 0 30px rgb(74, 70, 70);
    justify-content: center;
    align-items: center;
    transform: translate(0, -50%);
    padding: 40px;
}


.input-box_textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(93, 86, 92);
    border-bottom: 2px solid black;
    background: none;
}

.checkbox {
    margin: 10px;
    display: inline;
}


.block_checkbox {
    margin: 30px 0px 20px 0px;
}

/*All posts */

.wrapper_posts {
    width: 400px;
    min-width: 150px;
    height:  250px;
    margin: 30px;
    background: rgba(128, 116, 135, 0.7);
    border: 2px solid rgb(142, 131, 131);
    border-radius: 10px;
    box-shadow: 0 0 30px rgb(74, 70, 70);
    padding: 10px;
}