/*Chat list */
.activ_user {
    margin: 4px 15px;
    padding: 16px 18px;
    background: rgb(96, 205, 140);
    border-radius: 5px;
    color: #5f5e5e;
    font-weight: 600;
}

.activ_user:hover {
    background: rgb(64, 217, 125);
    color: rgb(249, 248, 251);
}

.unactiv_user {
    background:rgb(118, 101, 166);
    border-radius: 5px;
    margin: 4px 15px;
    padding: 16px 18px;
    color: #acaaaa;
    font-weight: 600;
}

.unactiv_user:hover {
    background: rgb(85, 67, 134);
    color: rgb(249, 248, 251);
}


/*Chat */

.wrapper_chat {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    min-width: 400px;
}

.sender{
    display: block;
    width: 540px;
    min-width: 350px;
    margin-top: 20px;
    margin-left: auto;
    margin-bottom: auto;
    background: rgb(86, 96, 161, 0.7);
    border: 1px solid rgb(142, 131, 131);
    border-radius: 30px;
    padding: 10px 20px;
}

.receiver{
    display: block;
    width: 540px;
    min-width: 350px;
    margin-top: 20px;
    background: rgb(64, 217, 125, 0.5);
    border: 1px solid rgb(142, 131, 131);
    border-radius: 30px;
    padding: 10px 20px;
}

.wrapper_write_message {
    position: absolute;
    display:block;
    width: 90%;
    background: rgba(128, 116, 135, 0.7);
    border: 1px solid rgb(142, 131, 131);
    border-radius: 30px;
    box-shadow: 0 0 30px rgb(74, 70, 70);
    margin: 0px 60px;
    padding: 10px 20px;
    bottom: 15px;
}

.wrapper_display_messages{
    overflow: scroll;
    height: 80%;
}

.input-box_textarea_chat{
    border: 0px;
    width: 100%;
    color: antiquewhite;
    background: none;
    padding: 0px 20px;
}

.input-box_textarea_chat:focus{
    border-color: none;
    outline: none;
}

.created_at_chat {
    position: relative;
    left: 400px;
    color: rgb(150, 141, 128);
    font-size: small;
}

