<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

    <head>

    </head>

    <div class="wrapper">
        <div class="form-box login">
            <h3>Login</h3>
            <form action = "/">
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail-outline"></ion-icon></span>
                    <input type="email" required>
                    <label for="">Email</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="key-outline"></ion-icon></span>
                    <input type="password" required>
                    <label for="">Password</label>
                </div>
                <div class="remember">
                    <lable><input type="checkbox">Remember me</lable>
                </div>
                <button type="submit" class="btn" onclick="login()">Login</button>

                <div class="login-regist">
                    <p>Don't have an account? <a  class="regist-link">Create account</a></p>
                </div>

            </form>

        </div>



        <div class="form-box registration">
            <h3>Create new account</h3>
            <form action = "/">
                <div class="input-box">
                    <span class="icon"><ion-icon name="person-add-outline"></ion-icon></span>
                    <input type="nickname" id="newNickname" name="newNickname" required>
                    <label for="nickname">Nickname</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="infinite-outline"></ion-icon></span>
                    <input type="age" id="age" name="age" required>
                    <label for="age">Age</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="transgender-outline"></ion-icon></span>
                    <input type="gender" id="gender" name="gender" required>
                    <label for="gender">Gender</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                    <input type="firstName" id="firstName" name="firstName" required>
                    <label for="firstName">First Name</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="people-outline"></ion-icon></span>
                    <input type="lastName" id="lastName" name="lastName" required>
                    <label for="lastName">Last Name</label>
                </div>
                <div class="input-box">
                    <span class="icon"><ion-icon name="mail-outline"></ion-icon></span>
                    <input type="email" id="newEmail" name="newEmail" required>
                    <label for="newEmail">Email</label>
                </div>
              
                <div class="input-box">
                    <span class="icon"><ion-icon name="lock-closed-outline"></ion-icon></span>
                    <input type="newPassword" id="newEmail" name="newPassword" required>
                    <label for="newPassword">Password</label>
                </div>
                <div class="remember">
                    <lable><input type="checkbox">I agree</lable>
                </div>
                <button type="submit" class="btn" onclick="register()">Create account</button>

                <div class="login-regist">
                    <p>Already have an account? <a href="/" class="login-link">login</a></p>
                </div>

            </form>

        </div>
    </div>

    <script src="static/script.js">
//https://ionic.io/ionicons
//https://www.youtube.com/watch?v=p1GmFCGuVjw

    </script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    
</body>
</html>