<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Page App</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
 

    <div id="app"></div>

    <script type="module" src="/static/js/index.js"></script>
            
    <!-- <script src="/static/js/RegisterCode.js"></script>
        <nav class="nav">
        <a href="/" class="nav__link" data-link>Dashboard</a>
        <a href="/posts" class="nav__link" data-link>Posts</a>
        <a href="/settings" class="nav__link" data-link>Settings</a> 
        <a href="/" class="nav__link" data-link>Posts</a>
        <a href="/chats" class="nav__link" data-link>Chats</a>
        <br/>
        place for users section (scrollable)
        <br/>
        <a href="" class="nav__link" data-link>Logout</a>
        </nav>

    <script src="/static/js/RegisterStyle.js"></script> 
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script> -->
</body>
</html>